<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzrg_UwJlJr3FHlIYk7X9PNvsQ-E8fP3E</string>
	<key>GCM_SENDER_ID</key>
	<string>116190878266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartAttendanceSystem</string>
	<key>PROJECT_ID</key>
	<string>geofence-database-57f51</string>
	<key>STORAGE_BUCKET</key>
	<string>geofence-database-57f51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116190878266:ios:a2b2333b537a30f105f303</string>
</dict>
</plist>